* ,*::after,*::before{
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Noto Sans TC", sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font: inherit;
}
