.navbar {
  .nav-left {
    width: 48.45679%;
  }
  .search {
    &-icon {
      top: 10px;
      left: 12px;
    }
    &-input {
      padding-left: 36px;
    }
  }
  .cart-icon {
    width: 20px;
    height: 20px;
  }
}

.tag {
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 8px;
}
.tag-sm {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
}
.tag-active {
  background: #4a3830;
  color: white;
}
.footer{
  &-icon{
    width: 18px;
    object-fit: cover;
    height: 16.5px;
  }
}
