.main{
  width: 66.04938%;
  .all-choose,input{
    width: 24px;
    height: 24px;
  }
  .card{
    &-img{
      width: 132px;
      height: 132px;
      object-fit: cover;
    }
  }
}
.aside{
  width: 32.09876%;
}
@media (max-width:768px) {
  .main{
    width: 100%;
  }
  .aside{
    width: 100%;
  }
}