<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head') %>

  <body>
    <%- include('./layout/nav.ejs') %>
      <div class="py-80 bg-neutral-15 ">
        <div class="d-flex flex-column align-items-center">
          <img class="mb-5" src="../assets/images/cart-empty/Img.png" alt="someone watch some list">
          <p class="text-neutral-80 fw-semibold mb-5">購物車還沒有商品，立即逛逛！</p>
          <button type="button" class="btn btn-primary px-80 rounded-4">
            看看其他行程
          </button>

        </div>
      </div>

      <section class="py-120 bg-neutral-15">
        <div class="container">
          <h2 class="fs-4 mb-5 fw-bold lh-sm text-primary"><img src="../assets/images/cart/title-deco.png"
              class="d-inline" alt="#"> 其他旅人也買了</h2>
          <div class="row card-group position-relative">
            <button class="refer-button-left p-4 bg-white border-0 position-absolute rounded-4 shadow"><img
                src="../assets/images/index/ic_ArrowLeft.png" alt="ic-arrow-left"></button>
            <button class="refer-button-right position-absolute shadow p-4 bg-white border-0 rounded-4"><img
                src="../assets/images/index/ic-arrowRight.png" alt="ic-arrow-right"></button>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/cart/other-4.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">即買即用</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">5 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.8</span>
                      <span class="fs-9  text-neutral-60">(1029)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">1,000+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 5,480</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 6,200</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/cart/other-1.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">中文導覽</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">5 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.7</span>
                      <span class="fs-9  text-neutral-60">(880)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">900+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 2,250</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 2,800</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/cart/other-2.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">專業導覽</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">5 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.6</span>
                      <span class="fs-9  text-neutral-60">(540)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">700+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 1,580</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 2,500</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/cart/other-3.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">即買即用</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">7 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.7</span>
                      <span class="fs-9  text-neutral-60">(319)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">600+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 6,890</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 8,890</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include("./layout/footer") %>

        <script type="module" src="../main.js"></script>
  </body>

</html>