<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head') %>

  <body>
    <%- include('./layout/nav.ejs') %>
      <div class="py-80 bg-neutral-15 ">
        <div class="container d-flex">
          <main class="main pe-5">
            <div class="d-flex justify-content-between bg-white py-4 px-5 rounded-4 mb-40">
              <div class="d-flex align-items-center">
                <input class="all-choose me-2" type="checkbox" id="all">
                <label class="text-neutral-80" for="all">全選</label>
              </div>
              <button type="button" class="btn btn-outline-primary rounded-4 fw-semibold">
                刪除選中活動
              </button>
            </div>

            <ul class="list-unstyled">
              <li>
                <div class="card mb-5 border-0 rounded-4">
                  <div class="d-flex py-32 pe-32 ps-5 border-neutral-40 border-top-0 border-end-0 border-start-0">
                    <input class="me-5" type="checkbox">
                    <img class="card-img rounded-4 me-3" src="../assets/images/cart/card-1.png" alt="tako yaki">
                    <div class="d-flex flex-column justify-content-center me-5">
                      <h2 class="fw-bold fs-7 mb-2">海闊天空展望台門票 HARUKAS 300</h2>
                      <p class="mb-2">阿倍野展望台門票 HARUKAS 300｜附章魚燒兌換劵</p>
                      <p>兌換期內皆適用</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <img class="me-4" src="../assets/images/cart/btn-minus.png" alt="btn-minus">
                      <span class="me-4 fs-7 fw-bold lh-sm">2</span>
                      <img src="../assets/images/cart/btn-plus.png" alt="btn-plus">
                    </div>

                  </div>
                  <div class="d-flex py-4 px-32 justify-content-between">
                    <ul class="list-unstyled d-flex ">
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">編輯</a>
                      </li>
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">刪除</a>
                      </li>
                    </ul>
                    <h3 class="fw-bold fs-6 mb-0">NT$ 830</h3>
                  </div>

                </div>
              </li>
              <li>
                <div class="card mb-5 border-0 rounded-4">
                  <div class="d-flex py-32 pe-32 ps-5 border-neutral-40 border-top-0 border-end-0 border-start-0">
                    <input class="me-5" type="checkbox">
                    <img class="card-img rounded-4 me-3" src="../assets/images/cart/card-2.jpg" alt="masage">
                    <div class="d-flex flex-column justify-content-center me-5">
                      <h2 class="fw-bold fs-7 mb-2">泰式按摩過猛求生體驗</h2>
                      <p class="mb-2">限量脫骨套餐｜師傅強度隨緣，靈魂有機會先離開</p>
                      <p>兌換期內皆適用</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <img class="me-4" src="../assets/images/cart/btn-minus.png" alt="btn-minus">
                      <span class="me-4 fs-7 fw-bold lh-sm">2</span>
                      <img src="../assets/images/cart/btn-plus.png" alt="btn-plus">
                    </div>

                  </div>
                  <div class="d-flex py-4 px-32 justify-content-between">
                    <ul class="list-unstyled d-flex ">
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">編輯</a>
                      </li>
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">刪除</a>
                      </li>
                    </ul>
                    <h3 class="fw-bold fs-6 mb-0">NT$ 1,230</h3>
                  </div>

                </div>
              </li>
              <li>
                <div class="card mb-5 border-0 rounded-4">
                  <div class="d-flex py-32 pe-32 ps-5 border-neutral-40 border-top-0 border-end-0 border-start-0">
                    <input class="me-5" type="checkbox">
                    <img class="card-img rounded-4 me-3" src="../assets/images/cart/card-3.png" alt="sea">
                    <div class="d-flex flex-column justify-content-center me-5">
                      <h2 class="fw-bold fs-7 mb-2">海闊天空展望台門票 HARUKAS 300</h2>
                      <p class="mb-2">阿倍野展望台門票 HARUKAS 300｜附章魚燒兌換劵</p>
                      <p>兌換期內皆適用</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <img class="me-4" src="../assets/images/cart/btn-minus.png" alt="btn-minus">
                      <span class="me-4 fs-7 fw-bold lh-sm">1</span>
                      <img src="../assets/images/cart/btn-plus.png" alt="btn-plus">
                    </div>

                  </div>
                  <div class="d-flex py-4 px-32 justify-content-between">
                    <ul class="list-unstyled d-flex ">
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">編輯</a>
                      </li>
                      <li class="ms-40">
                        <a class="text-decoration-underline text-neutral-80" href="#">刪除</a>
                      </li>
                    </ul>
                    <h3 class="fw-bold fs-6 mb-0">NT$ 410</h3>
                  </div>
                </div>
              </li>
            </ul>


          </main>
          <aside class="flex-fill">
            <div class=" bg-white   p-5 rounded-4">
              <h3 class="fw-semibold fs-6 mb-32">費用明細</h3>
              <div class="d-flex justify-content-between mb-3">
                <span>商品小計</span>
                <span class="fw-bold text-neutral-80">NT$ 3600</span>
              </div>
              <div class="d-flex justify-content-between mb-3 pb-32 
              border-neutral-40 border-top-0 border-end-0 border-start-0">
                <span>優惠折抵</span>
                <span class="fw-bold text-primary-60">- 100</span>
              </div>

              <div class="d-flex align-items-center justify-content-between mb-3  mb-32">
                <span>總計</span>
                <span class="fw-bold fs-4">NT$ 3,500</span>
              </div>

              <button type="button" class="btn btn-primary w-100 rounded-4">
                前往結賬
              </button>
            </div>
          </aside>
        </div>

      </div>

      <%- include("./layout/footer") %>

        <script type="module" src="../main.js"></script>
  </body>

</html>