<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head') %>

  <body>
    <%- include('./layout/nav.ejs') %>

      <section class="banner " style="background-image: url(../assets/images/index/unsplash_eOWabmCNEdg.png);">
        <div class="banner-slogan">
          <span class="lh-sm d-inline-block hint fs-7 fw-bold bg-primary-10 p-4 rounded-4">ZOBAA 旅行推薦平台</span>
          <h1 class="mt-3 fs-1 fw-bold lh-sm text-primary">用旅行，收藏世界的樣子</h1>
          <p class="text-primary-80 fw-bold mt-5 lh-sm fs-7">ZOBAA 整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。</p>
          <div class="search d-flex position-relative">
            <div class=" position-relative w-100">
              <img src="../assets/images/index/Vector.png" class="search-icon position-absolute" alt="search-icon">
              <input class="banner-search form-control me-2 py-10 rounded-4 search-input" type="search"
                placeholder="搜尋景點、地點或城市" aria-label="Search">
            </div>
            <button class="btn btn-sm btn-primary position-absolute search-btn rounded-4">開始探索旅程</button>
          </div>
        </div>
      </section>
      <div class="black-filter"></div>

      <section class="recommend  ">
        <div class="container">
          <div class="d-flex justify-content-between mb-80">
            <h2 class="fs-1 fw-bold text-white">你的<br>專屬推薦</h2>
            <div class="text-white mt-34">
              <p class="mb-0">來看我們的精選推薦行程，滿意度高達 99.2%</p>
              <p class="mb-5">給自己一個難忘的旅遊行程吧！</p>
              <p>查看全部行程 <img class="ms-2 d-inline align-baseline" src="../assets/images/index/right.png" alt="right">
              </p>
            </div>
          </div>
          <ul class="card-list list-unstyled d-flex gap-5">
            <li class="d-flex flex-column justify-content-end">
              <h3 class="fw-bold fs-3 lh-sm mb-2">峇里島渡假漫遊</h3>
              <p class="mb-0">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <a href="#" class="d-flex justify-content-between align-items-center">
                訂購行程
                <span class="material-symbols-outlined">
                  arrow_forward
                </span>
              </a>
            </li>
            <li class="d-flex flex-column justify-content-end">
              <h3 class="fw-bold fs-3 lh-sm  mb-2">日本深度賞櫻計畫</h3>
              <p class="mb-0">春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。</p>
              <a href="#" class="d-flex justify-content-between align-items-center">
                訂購行程
                <span class="material-symbols-outlined">
                  arrow_forward
                </span>
              </a>
            </li>
            <li class="d-flex flex-column justify-content-end">
              <h3 class="fw-bold fs-3 lh-sm mb-2">紐西蘭雪山探險</h3>
              <p class="mb-0">探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。</p>
              <a href="#" class="d-flex justify-content-between align-items-center">
                訂購行程
                <span class="material-symbols-outlined">
                  arrow_forward
                </span>
              </a>
            </li>
            <li class="d-flex flex-column justify-content-end">
              <h3 class="fw-bold fs-3 lh-sm mb-2">摩洛哥迷幻之旅</h3>
              <p class="mb-0">漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。</p>
              <a href="#" class="d-flex justify-content-between align-items-center">
                訂購行程
                <span class="material-symbols-outlined">
                  arrow_forward
                </span>
              </a>
            </li>
          </ul>

        </div>

      </section>

      <section class="first-stop py-120 position-relative">
        <img class="deco-bg position-absolute z-n1" src="../assets/images/index/Deco_bg.png" alt="background-image">
        <img class="deco position-absolute" src="../assets/images/index/Deco.png" alt="ZOBAA">
        <div class="container d-flex">
          <div>
            <div class="d-flex mb-20">
              <div class="card rounded-4 me-5 border-neutral-40">
                <img class="card-img-top" src="../assets/images/index/Image-1.png" alt="glasses">
                <div class="card-body p-5">
                  <h5 class="fs-7 fw-bold card-title">旅人攻略集合</h5>
                  <p class="card-text text-black-80">景點、交通、私房景點一次掌握</p>
                </div>
              </div>

              <div class="card rounded-4 border-neutral-40">
                <img class="card-img-top" src="../assets/images/index/Image.png" alt="one woman take photo">
                <div class="card-body p-5">
                  <h5 class="fs-7 fw-bold card-title">ZOBAA 專屬推薦行程</h5>
                  <p class="card-text text-black-80">嚴選深度行程，豐富旅行靈感</p>
                </div>
              </div>
            </div>
            <div class="d-flex ">
              <div class="card rounded-4 me-5 border-neutral-40 ms-80">
                <img class="card-img-top" src="../assets/images/index/Image-2.png" alt="glasses">
                <div class="card-body p-5">
                  <h5 class="fs-7 fw-bold card-title">優惠機票、酒店</h5>
                  <p class="card-text text-black-80">即時比價，聰明出發不踩雷</p>
                </div>
              </div>

              <div class="card rounded-4 border-neutral-40">
                <img class="card-img-top" src="../assets/images/index/Image-3.png" alt="one woman take photo">
                <div class="card-body p-5">
                  <h5 class="fs-7 fw-bold card-title">銀行專屬優惠</h5>
                  <p class="card-text text-black-80">使用指定卡別享受獨家旅遊好康</p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column flex-fill justify-content-center align-items-end text-primary fw-bold lh-sm">
            <div>
              <h2 class="fs-1 mb-5">ZOBAA!<br>踏上旅程的<br>第一站</h2>
              <p class="text-primary-60">
                探索最熱門的旅遊主題，<br>從旅人必備攻略到獨家優惠，<br>全都為你精挑細選。
              </p>
            </div>
          </div>
        </div>


      </section>

      <section class="mind-map">
        <img src="../assets/images/index/BG-up-section.png" alt="bg-up-deco">
        <div class="py-120 bg-primary-10 ">
          <div class="container">
            <div class="d-flex justify-content-between mb-80 position-relative">
              <img src="../assets/images/index/deco-lebal.png" alt="deco-lebal" class="deco-lebal position-absolute">
              <div>
                <h2 class="fs-1 text-primary fw-bold mb-2">今年旅行的</h2>
                <h2 class="fs-1 text-primary fw-bold mb-5">靈感地圖</h2>

                <ul class="list-unstyled d-flex gap-2">
                  <li>
                    <button class="tag tag-active  border-0">全部</button>
                  </li>
                  <li>
                    <button class="tag text-primary bg-white border-0">亞洲</button>
                  </li>
                  <li>
                    <button class="tag text-primary bg-white border-0">歐洲</button>
                  </li>
                  <li>
                    <button class="tag text-primary bg-white border-0">美洲</button>
                  </li>
                  <li>
                    <button class="tag text-primary bg-white border-0">大洋洲</button>
                  </li>
                  <li>
                    <button class="tag text-primary bg-white border-0">非洲</button>
                  </li>
                </ul>
              </div>
              <div class="d-flex flex-column justify-content-center">
                <p class="mb-0 text-primary fw-bold fs-7 text-center">來自旅人搜尋、收藏與討論最多的目的地排行榜，</p>
                <p class="fw-bold  text-primary fs-7 text-center mb-5">一場風格與故事感兼具的靈感旅行，就從這裡開始。</p>
                <div class="d-flex gap-2 justify-content-end">
                  <button class="p-4 bg-white border-0 rounded-4"><img src="../assets/images/index/ic_ArrowLeft.png"
                      alt="ic-arrow-left"></button>
                  <button class="p-4 bg-white border-0 rounded-4"><img src="../assets/images/index/ic-arrowRight.png"
                      alt="ic-arrow-right"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide ">
                <div class="card mb-3 border-0 rounded-4 position-relative">
                  <span class="fs-200 card-num position-absolute">1</span>
                  <div class="d-flex g-0">
                    <div class=" p-4">
                      <img src="../assets/images/index/map-1.jpg" class=" card-img rounded-4" alt="map-1">
                    </div>
                    <div class="flex-fill ">
                      <div class="card-body pe-32">
                        <div class="d-flex gap-2 mb-2">
                          <button class="tag text-primary bg-primary-10 border-0">亞洲</button>
                          <button class="tag text-primary bg-primary-10 border-0">日本京都</button>
                        </div>
                        <h5 class="card-title fs-2 fw-bold mb-2">走進四季交織的文化時光</h5>
                        <p class="card-text text-primary mb-40">
                          穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                        </p>
                        <div class="d-flex mb-40">
                          <button class="tag text-primary bg-primary-10 border-0 me-3 text-nowrap">ZOBAA 建議</button>
                          <p class="text-primary ">賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</p>
                        </div>
                        <button
                          class="btn btn-dark d-flex justify-content-between w-100 rounded-100 align-items-center">
                          <span>立即探索魅力古都</span>
                          <img src="../assets/images/index/card-icon.png" alt="right-arrow">
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide ">
                <div class="card mb-3 border-0 rounded-4 position-relative">
                  <span class="fs-200 card-num position-absolute">2</span>
                  <div class="d-flex g-0">
                    <div class=" p-4">
                      <img src="../assets/images/index/map-2.png" class=" card-img rounded-4" alt="map-1">
                    </div>
                    <div class="flex-fill ">
                      <div class="card-body pe-32">
                        <div class="d-flex gap-2 mb-2">
                          <button class="tag text-primary bg-primary-10 border-0">亞洲</button>
                          <button class="tag text-primary bg-primary-10 border-0">南韓首爾</button>
                        </div>
                        <h5 class="card-title fs-2 fw-bold mb-2">從街邊美食到韓劇場景</h5>
                        <p class="card-text text-primary mb-40">
                          白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。
                        </p>
                        <div class="d-flex mb-40">
                          <button class="tag text-primary bg-primary-10 border-0 me-3 text-nowrap">ZOBAA 建議</button>
                          <p class="text-primary ">弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨</p>
                        </div>
                        <button
                          class="btn btn-dark d-flex justify-content-between w-100 rounded-100 align-items-center">
                          <span>立即探索魅力古都</span>
                          <img src="../assets/images/index/card-icon.png" alt="right-arrow">
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide ">
                <div class="card mb-3 border-0 rounded-4 position-relative">
                  <span class="fs-200 card-num position-absolute">3</span>
                  <div class="d-flex g-0">
                    <div class=" p-4">
                      <img src="../assets/images/index/map-3.png" class=" card-img rounded-4" alt="map-1">
                    </div>
                    <div class="flex-fill ">
                      <div class="card-body pe-32">
                        <div class="d-flex gap-2 mb-2">
                          <button class="tag text-primary bg-primary-10 border-0">亞洲</button>
                          <button class="tag text-primary bg-primary-10 border-0">日本京都</button>
                        </div>
                        <h5 class="card-title fs-2 fw-bold mb-2">走進四季交織的文化時光</h5>
                        <p class="card-text text-primary mb-40">
                          穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                        </p>
                        <div class="d-flex mb-40">
                          <button class="tag text-primary bg-primary-10 border-0 me-3 text-nowrap">ZOBAA 建議</button>
                          <p class="text-primary ">賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</p>
                        </div>
                        <button
                          class="btn btn-dark d-flex justify-content-between w-100 rounded-100 align-items-center">
                          <span>立即探索魅力古都</span>
                          <img src="../assets/images/index/card-icon.png" alt="right-arrow">
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide ">
                <div class="card mb-3 border-0 rounded-4 position-relative">
                  <span class="fs-200 card-num position-absolute">1</span>
                  <div class="d-flex g-0">
                    <div class=" p-4">
                      <img src="../assets/images/index/map-1.jpg" class=" card-img rounded-4" alt="map-1">
                    </div>
                    <div class="flex-fill ">
                      <div class="card-body pe-32">
                        <div class="d-flex gap-2 mb-2">
                          <button class="tag text-primary bg-primary-10 border-0">亞洲</button>
                          <button class="tag text-primary bg-primary-10 border-0">日本京都</button>
                        </div>
                        <h5 class="card-title fs-2 fw-bold mb-2">走進四季交織的文化時光</h5>
                        <p class="card-text text-primary mb-40">
                          穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                        </p>
                        <div class="d-flex mb-40">
                          <button class="tag text-primary bg-primary-10 border-0 me-3 text-nowrap">ZOBAA 建議</button>
                          <p class="text-primary ">賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</p>
                        </div>
                        <button
                          class="btn btn-dark d-flex justify-content-between w-100 rounded-100 align-items-center">
                          <span>立即探索魅力古都</span>
                          <img src="../assets/images/index/card-icon.png" alt="right-arrow">
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide ">
                <div class="card mb-3 border-0 rounded-4 position-relative">
                  <span class="fs-200 card-num position-absolute">1</span>
                  <div class="d-flex g-0">
                    <div class=" p-4">
                      <img src="../assets/images/index/map-1.jpg" class=" card-img rounded-4" alt="map-1">
                    </div>
                    <div class="flex-fill ">
                      <div class="card-body pe-32">
                        <div class="d-flex gap-2 mb-2">
                          <button class="tag text-primary bg-primary-10 border-0">亞洲</button>
                          <button class="tag text-primary bg-primary-10 border-0">日本京都</button>
                        </div>
                        <h5 class="card-title fs-2 fw-bold mb-2">走進四季交織的文化時光</h5>
                        <p class="card-text text-primary mb-40">
                          穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                        </p>
                        <div class="d-flex mb-40">
                          <button class="tag text-primary bg-primary-10 border-0 me-3 text-nowrap">ZOBAA 建議</button>
                          <p class="text-primary ">賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</p>
                        </div>
                        <button
                          class="btn btn-dark d-flex justify-content-between w-100 rounded-100 align-items-center">
                          <span>立即探索魅力古都</span>
                          <img src="../assets/images/index/card-icon.png" alt="right-arrow">
                        </button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>

        </div>
        <img src="../assets/images/index/BG-bottom-Section.png" alt="bg-bottom-deco">
      </section>

      <section class="refer py-120">
        <div class="container position-relative">
          <img class="deco-symbol z-n1 position-absolute" src="../assets/images/index/deco-symbol.png" alt="deco-#">
          <h2 class="fs-1 fw-bold lh-sm text-primary">搜尋墨爾本嗎？</h2>
          <h2 class="fs-1 fw-bold lh-sm text-primary mb-80">來點行程參考！</h2>

          <div class="row card-group position-relative">
            <button class="refer-button-left p-4 bg-white border-0 position-absolute rounded-4 shadow"><img
                src="../assets/images/index/ic_ArrowLeft.png" alt="ic-arrow-left"></button>
            <button class="refer-button-right position-absolute shadow p-4 bg-white border-0 rounded-4"><img
                src="../assets/images/index/ic-arrowRight.png" alt="ic-arrow-right"></button>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/index/refer-1.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">即買即用</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">5 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.2</span>
                      <span class="fs-9  text-neutral-60">(333)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">500+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 4,220</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 5,220</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/index/refer-2.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    【無尾熊動物園＋企鵝歸巢雙享之旅
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">即買即用</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">7 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.2</span>
                      <span class="fs-9  text-neutral-60">(333)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">500+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 3,890</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 4,920</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/index/refer-3.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    大洋路經典一日遊｜中文導覽！體驗澳洲最夢幻的海岸線
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">中文導覽</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">5 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.2</span>
                      <span class="fs-9  text-neutral-60">(333)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">500+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 3,690</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 4,500</h4>
                </div>
              </div>
            </div>
            <div class="card col border-0 position-relative">
              <img src="../assets/images/index/refer-4.png" class="card-img-top" alt="forest train">
              <div class="card-body">
                <div class="card-up border-bottom border-neutral-40 border-top-0 border-end-0 border-start-0 pb-4 mb-4">
                  <h5 class="card-title fw-bold fs-8 mb-3">
                    【墨爾本市區導覽｜壁畫巷＋隱藏咖啡廳之旅，體驗本地咖啡文化、隱藏小巷拍照
                  </h5>
                  <div class="d-flex mb-3">
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">專業導覽</button>
                    <button class="tag-sm text-primary bg-primary-10 border-0 me-2">3 天前可免費取消</button>
                  </div>
                  <div class="d-flex">
                    <div class="border-end pe-3">
                      <img class="d-inline" src="../assets/images/index/icon-star.png" alt="icon-star">
                      <span class="fs-9 text-neutral-80">4.2</span>
                      <span class="fs-9  text-neutral-60">(333)</span>
                    </div>
                    <p class="ps-3 text-neutral-80 mb-0">500+ 個已訂購</p>
                  </div>
                </div>
                <div class="card-bottom">
                  <h3 class="fw-bold fs-7 lh-sm">NT$ 1,280</h3>
                  <h4 class="fs-9 text-secondary  text-decoration-line-through">NT$ 2,480</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>

      <div class="marquee d-flex">
        <p># ZOBAA # WHERETOGO # TODAY</p>
      </div>

      <section class="why py-120 bg-primary-40 position-relative">
        <img class="position-absolute top-0 start-0" src="../assets/images/index/deco-left-top.png"
          alt="one four circle">
        <img class="deco-middle position-absolute " src="../assets/images/index/deco-bg-middle.png" alt="deco-middle">
        <img class="deco-right-bottom position-absolute " src="../assets/images/index/deco-half-circle.png"
          alt="deco-middle">


        <div class="container">
          <div class="slogan mb-5 position-relative  z-0"
            style="background-image: url(../assets/images/index/why-img.jpg);">
            <h2 class="fs-150 lh-sm fw-bold text-white opacity-32"># ZOBAAAAA !</h2>
            <h3 class="fs-1 lh-sm fw-bold text-white opacity-60">把旅行變成生活的養分。</h3>
          </div>
          <div class="row bg-blur-8  p-32   rounded-4 position-relative z-0">
            <div class="bg-primary-10 position-absolute top-0 end-0 start-0 bottom-0 z-n1 opacity-50 rounded-4"></div>
            <div class="col p-0">
              <h2 class="fs-2 fw-bold lh-sm text-primary mb-5">為什麼選擇 ZOBAA ?</h2>
              <p class="mb-5 text-neutral-80">不只是帶你抵達目的地，更在每一次出發前，替你預想所有細節。<br>
                ZOBAA 希望你能放心探索世界，把記憶留給旅程本身。</p>
              <button class="btn btn-dark d-flex py-18  rounded-100 align-items-center">
                <span class="me-4 fs-7">立即探索我們的精心旅程</span>
                <img src="../assets/images/index/card-icon.png" alt="right-arrow">
              </button>
            </div>
            <div class="col-3 ps-32 me-4 d-flex flex-column justify-content-center bg-white rounded-4">
              <h3 class="d-flex align-items-start fs-2 fw-bold lh-sm text-primary position-relative mb-2">8 年 <img
                  src="../assets/images/index/+.png" alt="icon-plus" class="d-inline ms-2  "></h3>

              <p class="fs-7 text-primary-80 lh-sm">旅遊企劃經驗</p>


            </div>
            <div class="col-3 ps-32 d-flex flex-column justify-content-center bg-white rounded-4">
              <h3 class="d-flex align-items-start fs-2 fw-bold lh-sm text-primary position-relative mb-2">30,000<img
                  src="../assets/images/index/+.png" alt="icon-plus" class="d-inline ms-2  "></h3>

              <p class="fs-7 text-primary-80 lh-sm">旅人五星好評</p>


            </div>
          </div>


        </div>

      </section>

      <%- include("./layout/footer") %>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
          const swiper = new Swiper(".mySwiper", {
            slidesPerView: 5,
            spaceBetween: 16,
            // (手機板排版設定),
            breakpoints: {
              768: {
                slidesPerView: 2.09115,
                spaceBetween: 24,
              }
              // (RWD設定部分)
            }
          });
        </script>
        <script type="module" src="../main.js"></script>
  </body>

</html>